<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> 
		<property name="url"
			value="jdbc:mysql://localhost:3306/management">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="tiger"></property>
		
		
	</bean>
	
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		
		<!-- 指定hibernate映射文件的路径 -->
<property name="mappingResources">
	<list>
		<value>entity/User.hbm.xml</value>
		<value>entity/Student_info.hbm.xml</value>
		<value>entity/Sign_info.hbm.xml</value>
		<value>entity/Depart_info.hbm.xml</value>
		<value>entity/Org_info.hbm.xml</value>
	
	</list>
</property>
	</bean>
	
	
	<bean id="encodingFilter" class="filter.EncodingFilter"></bean>
	<bean id="userDAO" class="dao.UserDAOImpl">
	<property name="sessionFactory">
	<ref bean="sessionFactory"/>
	</property>
	</bean>
	<bean id="fileUtil" class="util.FileUtil"></bean>
	<bean id="userService" class="service.UserServiceImpl">
	<property name="userDAO" ref="userDAO"></property>
	</bean>
	<bean id="loginAction" class="action.LoginAction">
	<property name="userService" ref="userService"></property>
	<property name="student_infoService" ref="student_infoService"></property>
	</bean>
	<bean id="student_infoDAO" class="dao.Student_infoDAOImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="student_infoService" class="service.Student_infoServiceImpl">
	<property name="student_infoDAO" ref="student_infoDAO"></property>
	</bean>
	<bean id="depart_infoDAO" class="dao.Depart_infoDAOImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="depart_infoService" class="service.Depart_infoServiceImpl">
	<property name="departInfoDAO" ref="depart_infoDAO"></property>
	</bean>
	<bean id="sign_infoDAO" class="dao.Sign_infoDAOImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="sign_infoService" class="service.Sign_infoServiceImpl">
	<property name="signInfoDAO" ref="sign_infoDAO"></property>
	</bean>
	<bean id="registerDepartAction" class="action.RegisterDepartAction">
	<property name="org_infoService" ref="org_infoService"></property>
	<property name="depart_infoService" ref="depart_infoService"></property>
	</bean>
	<bean id="registerSignInfoAction" class="action.Sign_info.RegisterSignInfoAction">
	<property name="sign_infoService" ref="sign_infoService"></property>
	</bean>
	<bean id="updateStuInfoAction" class="action.UpdateStuInfoAction">
	<property name="student_infoService" ref="student_infoService"></property>
	<property name="fileUtil" ref="fileUtil"></property>
	</bean>
	<bean id="saveStuInfoAction" class="action.SaveStuInfoAction">
	<property name="student_infoService" ref="student_infoService"></property>
	</bean>
	<bean id="registerUserAction" class="action.RegisterUserAction">
	<property name="student_infoService" ref="student_infoService"></property>
	<property name="userService" ref="userService"></property>
	<property name="fileUtil" ref="fileUtil"></property>
	</bean>
	<bean id="org_infoDAO" class="dao.Org_infoDAOImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="org_infoService" class="service.Org_infoServiceImpl">
	<property name="org_infoDAO" ref="org_infoDAO"></property>
	</bean>
	<bean id="saveOrg_infoService" class="action.SaveOrgInfoAction">
	<property name="org_infoService" ref="org_infoService"></property>
	</bean>
	<bean id="showOrg_infoService" class="action.ShowOrgInfoAction">
	<property name="org_infoService" ref="org_infoService"></property>
	</bean>
	<bean id="updateOrg_infoAction" class="action.UpdateOrgInfoAction">
	<property name="org_infoService" ref="org_infoService"></property>
	</bean>
	<bean id="showOrgListAction" class="action.ShowOrgListAction">
	<property name="org_infoService" ref="org_infoService"></property>
	</bean>
	<bean id="showSignListByStuIdAction" class="action.Sign_info.ShowSignListByStuIdAction">
	<property name="sign_infoService" ref="sign_infoService"></property>
	<property name="org_infoService" ref="org_infoService"></property>
	<property name="depart_infoService" ref="depart_infoService"></property>
	<property name="student_infoService"  ref="student_infoService"></property>
	</bean>
	<bean id="updateSignInfoAction" class="action.Sign_info.UpdateSignInfoAction">
	<property name="sign_infoService" ref="sign_infoService"></property>
	</bean>
	<bean id="showDepartListByOrAction"  class="action.depart.ShowDepartListByOrAction">
	<property name="depart_infoService" ref="depart_infoService"></property>
	<property name="org_infoService"    ref="org_infoService"></property>
	</bean>
	<!-- 发送邮件使用的工具类 -->
	<bean id="javaMail" class="util.MailUtil"></bean>
	<!-- 发送邮件测试用的action -->
	<bean id="mailAction" class="action.TestMailAction">
	<property name="mailUtil" ref="javaMail"></property>
	</bean>
	</beans>

	
	
	
	
	
	